<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />
    <title>Form vaildation</title>
  </head>
  <body>
    <div id="app">
      <h1>Form Validation</h1>

      <p style="color: red;">{{ error }}</p>

      <form method="post" action="#">
        <div>
          <label for="name">Name</label>
          <input name="name" id="name" v-model="form.name" />
          <p style="color: red;">{{ nameValidation }}</p>
        </div>
        <div>
          <label for="email">Email</label>
          <input name="email" id="email" v-model="form.email" />
          <p style="color: red;">{{ emailValidation }}</p>
        </div>
        <div>
          <label for="password">Password</label>
          <input name="password" id="password" v-model="form.password" />
          <p style="color: red;">{{ passwordValidation }}</p>
        </div>
        <div>
          <label for="password2">Confirm password</label>
          <input name="password2" id="password2" v-model="form.password2" />
          <p style="color: red;">{{ password2Validation }}</p>
        </div>
        <button @click.prevent="validateForm">Send Form</button>
      </form>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
      integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      let app = new Vue({
        el: '#app',
        data: {
          form: {
            name: '',
            email: '',
            password: '',
            password2: '',
          },
          error: '',
        },
        methods: {
          validateForm: function () {
            if (this.form.name.length && this.form.email.length) {
              return (this.error = 'Form Sent!');
            }

            return (this.error = 'Invalid Form');
          },
        },
        computed: {
          nameValidation: function () {
            if (!this.form.name.length && this.error) {
              return 'Name Field is Required';
            }
          },
          emailValidation: function () {
            if (!this.form.email.length && this.error) {
              return 'Email Field is Required';
            }
          },
          passwordValidation: function () {
            if (!this.form.password.length && this.error) {
              return 'Password Field is Required';
            }
          },
          password2Validation: function () {
            if (!this.form.password2.length && this.error) {
              return 'Password must be confirmed';
            }
          },
        },
      });
    </script>
  </body>
</html>
