<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
      integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I"
      crossorigin="anonymous"
    />
    <title>Form vaildation</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div id="app" class="col-md-6 mx-auto">
          <h1>Form Validation</h1>

          <p style="color: red;">{{ error }}</p>

          <form novalidate method="post" action="#">
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input
                class="form-control"
                name="name"
                id="name"
                v-model="form.name"
                required
              />
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">{{ nameValidation }}</div>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input
                class="form-control"
                name="email"
                id="email"
                v-model="form.email"
              />
              <div class="valid-feedback">
                Looks good!
              </div>
              <div class="invalid-feedback">{{ emailValidation }}</div>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                class="form-control"
                name="password"
                id="password"
                v-model="form.password"
              />
              <div class="invalid-feedback">{{ passwordValidation }}</div>
            </div>
            <div class="mb-3">
              <label for="password2" class="form-label">Confirm password</label>
              <input
                class="form-control"
                name="password2"
                id="password2"
                v-model="form.password2"
              />
              <div class="invalid-feedback">{{ password2Validation }}</div>
            </div>
            <button class="btn btn-primary" @click.prevent="validateForm">
              Send Form
            </button>
          </form>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
      integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      let app = new Vue({
        el: '#app',
        data: {
          form: {
            name: '',
            email: '',
            password: '',
            password2: '',
          },
          error: '',
        },
        methods: {
          validateForm: function () {
            if (this.form.name.length && this.form.email.length) {
              return (this.error = 'Form Sent!');
            }

            return (this.error = 'Invalid Form');
          },
        },
        computed: {
          nameValidation: function () {
            let el = document.getElementById('name');
            if (!this.form.name.length && this.error) {
              el.classList.add('is-invalid');
              el.classList.remove('is-valid');
              return 'Name Field is Required';
            } else {
              el.classList.add('is-valid');
              el.classList.remove('is-invalid');
            }
          },
          emailValidation: function () {
            let el = document.getElementById('email');
            el.classList.add('is-invalid');
            el.classList.remove('is-valid');
            if (!this.form.email.length && this.error) {
              return 'Email Field is Required';
            } else {
              el.classList.add('is-valid');
              el.classList.remove('is-invalid');
            }
          },
          passwordValidation: function () {
            let el = document.getElementById('password');
            if (!this.form.password.length && this.error) {
              el.classList.add('is-invalid');
              el.classList.remove('is-valid');
              return 'Password Field is Required';
            } else {
              el.classList.add('is-valid');
              el.classList.remove('is-invalid');
            }
          },
          password2Validation: function () {
            let el = document.getElementById('password2');
            if (!this.form.password2.length && this.error) {
              el.classList.add('is-invalid');
              el.classList.remove('is-valid');
              return 'Password must be confirmed';
            } else {
              el.classList.add('is-valid');
              el.classList.remove('is-invalid');
            }
          },
        },
      });
    </script>
  </body>
</html>
